<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>浮世鸣秋</title>
</head>
<body>
  <header>
    <section class="logo">
      <h1>浮世鸣秋</h1>
    </section>
    <section class="subscript">
      分享文章，传递感动
    </section>
    <section class="top-nav">
      <ul>
        <li><a href="javascript:;">首页</a></li>
        <li><a href="javascript:;">心情</a></li>
        <li><a href="javascript:;">书架</a></li>
        <li><a href="javascript:;">书铺</a></li>
      </ul>
    </section>
  </header>
  <main>
    <section class="content">
      <section class="column">
        <h3>每日推荐</h3>
      </section>
      <section class="title">
        <h4>断·离·舍</h4>
      </section>
      <article class="article">
        <p>前两天有个网友给我写信，问我如何克服寂寞。她跟我刚来美国时一样，英文不够好，朋友少，一个人等着天亮，一个人等着天黑。“每天学校、家、图书馆、健身房，几点一线。”</p>
      　<p>我说我没什么好招儿，因为我从来就没有克服过这个问题。这些年来我学会的，就是适应它。正如有人所言：“适应孤独，就像适应一种残疾。”</p>
      　<p>我觉得，快乐是可遇不可求的，但是充实是可求而不可遇的。我的快乐很少，当然我也不痛苦。主要是生活稀薄，事件密度非常低。我典型的一天：一个人，书，电脑，DVD。一个人，一个星期平均会去学校听两次讲座。一周工作日平均跟朋友吃午饭一次，周末吃晚饭一次。多么稀薄的生活啊，谁跟我接近了都会有高原反应。</p>
      　<p>我这人其实一点也不孤僻。生活中认识我的人都知道，我是多么平易近人开朗活泼。有时候，我就是懒，懒得经营一个关系。还有一些时候，就是爱自由，觉得任何一种关系都会束缚自己。当然最主要的，还是知音难觅。我老觉得自己跟大多数人交往，总是只能拿出自己的一个子集，我很难找到和自己一样一望无际的人。</p>
      　<p>有时候也着急。不仅仅是因为错过了亲友之间的饭局、谈笑、温情，不仅仅因为一个文学女青年对故事、冲突、枝繁叶茂的生活有天然的向往，也因为一个人思想的先锋性总是通过碰撞来保持的。我担心，我老这样一个人呆着，会不会越来越傻？</p>
      　<p>但另一些时候，我又惊诧于自己的生命力。在这样缺乏沟通、交流、刺激、辩论、玩笑、聊天、绯闻、传闻、小道消息、八卦、MSN的生活里，没有任何“圈子”，多年来仅仅凭着自己跟自己对话，我竟然保持了创造力和战斗力，竟然写小说政论论文博客，而且写得如此饱满热情，我又是何等顽强的一株向日葵。</p>
      　<p>年少的时候，我觉得孤单是很酷的一件事。长大以后，我觉得孤单是很凄凉的一件事。现在，我觉得孤单不是一件事。有时候，人所需要的是真正的绝望。真正的绝望跟痛苦、跟悲伤、跟惨痛都没有什么关系，真正的绝望让人心平气和。你意识到你不能依靠别人、任何人得到快乐、充实、救赎。那么，你面对自己，把这种意识贯彻到一言一行当中。</p>
      　<p>它还不是气馁，不是得过且过，不是“平平淡淡从从容容才是真”这样的狗屁歌词，它只是“命运的归命运，自己的归自己”这样一种实事求是的态度。</p>
      　<p>我想自己终究是幸运的，不仅仅因为那些外在的所得，而且因为上帝给我的顽强和禀赋。它告诉我“浑浑噩噩的生活不值得过”，教我用虚无、骄傲、愤世嫉俗超越那种浑浑噩噩随波逐流的生活，然后教我用是非感、责任心来超越那点虚无、骄傲、愤世嫉俗。</p>
      　<p>当罗素说知识、爱、同情心是他生活的动力时，我觉得这个风流成性的老不死简直就是我的亲哥。</p>
      　<p>因为这幸运，我原谅上帝给我的一切挫折、孤单，原谅他给我的敏感、抑郁和神经质，原谅他让X不喜欢我，让我不喜欢Y，让那么多人长得比我美，让那么多烂书卖得比我的好，甚至原谅他让我长到105斤，因为他把世界上最美好的品质给了我：不气馁，有召唤，爱自由。</p>
      </article>
      <section class="share">

      </section>
      <section class="rand">

      </section>
    </section>
  </main>
  <footer>
    <section class="connect">
      <ul>
        <li><a href="javascript:;">加入我们</a></li>
        <li><a href="javascript:;">联系方式</a></li>
        <li><a href="javascript:;">微博</a></li>
        <li><a href="javascript:;">关于</a></li>
      </ul>
    </section>
    <section class="copyright">
      <p>Copyright © 2015 <a href="javascript:;">鸣秋读书</a> Some Rights Reserved</p>
    </section>
  </footer>
</body>
</html>